<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.online.languages.study.lang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:name="com.online.languages.study.lang.App"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.online.languages.study.lang.AppStart"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.MainActivity"
            android:screenOrientation="behind"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.CatActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.CatSimpleListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.SampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.ScrollingActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.ExerciseResultActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.CardsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cards"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.ExerciseActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_exericse"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.constructor.ExerciseBuildActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.UserListActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SectionStatsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat_stats"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SectionStatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.CustomDataListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.CatListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.CustomDataActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.GetPremium"
            android:screenOrientation="behind"
            android:label="@string/title_activity_get_premium"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.SectionActivitySimple"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.SubSectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SectionListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SectionTestActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.SearchActivity"
            android:screenOrientation="behind"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.online.languages.study.lang.ProgressStatsActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.MapActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.MapListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.GalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
        android:name="com.online.languages.study.lang.ImageListActivity"
        android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.StarredGalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.StarredBookmarksActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.BackupActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.FinderActivity"
            android:theme="@style/AppTheme.Finder" />

        <activity
            android:name="com.online.languages.study.lang.FinderDialogActivity"
            android:theme="@style/AppTheme.FinderDialog" />


        <activity
            android:name="com.online.languages.study.lang.ImageDetailActivity"
            android:theme="@style/AppTheme.Dialog" />

        <activity android:name="com.online.languages.study.lang.BaseActivity" />

        <activity android:name="com.online.languages.study.lang.InfoListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.TextActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.NoteActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.RecommendActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.TaskActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.practice.PracticeActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.constructor.ConstructorActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.NoteEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.MyCatEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.UCatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.UCatsArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.NotesArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />



    </application>

</manifest>