<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:name="com.online.languages.study.lang.App"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.online.languages.study.lang.presentation.AppStart"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.presentation.main.MainActivity"
            android:screenOrientation="behind"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.presentation.category.CatActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.presentation.activities.CatSimpleListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.activities.SampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.details.ScrollingActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.presentation.exercise.ExerciseResultActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.presentation.flashcards.CardsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cards"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.exercise.ExerciseActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_exericse"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.constructor.ExerciseBuildActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.usercategories.UserListActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.stats.SectionStatsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat_stats"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.stats.SectionStatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.stats.CustomDataListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.CatListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.stats.CustomDataActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.GetPremium"
            android:screenOrientation="behind"
            android:label="@string/title_activity_get_premium"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.section.activities.SectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.section.SectionReviewActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.section.activities.SectionActivitySimple"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.activities.SubSectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.section.activities.SectionListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.section.activities.SectionTestActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.search.SearchActivity"
            android:screenOrientation="behind"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".presentation.search.SearchingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.online.languages.study.lang.presentation.stats.ProgressStatsActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.MapActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.MapListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.activities.GalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
        android:name="com.online.languages.study.lang.presentation.activities.ImageListActivity"
        android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.activities.StarredGalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.favorites.StarredBookmarksActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.presentation.backup.BackupActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.backup.FinderActivity"
            android:theme="@style/AppTheme.Finder" />

        <activity
            android:name="com.online.languages.study.lang.presentation.backup.FinderDialogActivity"
            android:theme="@style/AppTheme.FinderDialog" />


        <activity
            android:name="com.online.languages.study.lang.presentation.activities.ImageDetailActivity"
            android:theme="@style/AppTheme.Dialog" />

        <activity android:name="com.online.languages.study.lang.presentation.core.BaseActivity" />

        <activity android:name="com.online.languages.study.lang.presentation.stats.InfoListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.activities.TextActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NoteActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.activities.RecommendActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.activities.TaskActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.practice.PracticeActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.constructor.ConstructorActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NoteEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.usercategories.MyCatEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.usercategories.UCatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.usercategories.UCatsArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NotesArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />



    </application>

</manifest>