<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.online.languages.study.lang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:name="com.online.languages.study.lang.App"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.online.languages.study.lang.presentation.AppStart"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.presentation.main.MainActivity"
            android:screenOrientation="behind"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.online.languages.study.lang.presentation.CatActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.presentation.CatSimpleListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.SampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.ScrollingActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.presentation.exercise.ExerciseResultActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name="com.online.languages.study.lang.presentation.flashcards.CardsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cards"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.exercise.ExerciseActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_exericse"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.constructor.ExerciseBuildActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.UserListActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SectionStatsActivity"
            android:screenOrientation="behind"
            android:label="@string/title_activity_cat_stats"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SectionStatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.CustomDataListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.CatListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.CustomDataActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.GetPremium"
            android:screenOrientation="behind"
            android:label="@string/title_activity_get_premium"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.SectionReviewActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.SectionActivitySimple"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.SubSectionActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SectionListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SectionTestActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.SearchActivity"
            android:screenOrientation="behind"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.online.languages.study.lang.presentation.ProgressStatsActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.MapActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.online.languages.study.lang.presentation.activities.MapListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.activities.GalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
        android:name="com.online.languages.study.lang.presentation.ImageListActivity"
        android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.StarredGalleryActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.StarredBookmarksActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="behind"
            android:name="com.online.languages.study.lang.presentation.backup.BackupActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.online.languages.study.lang.presentation.backup.FinderActivity"
            android:theme="@style/AppTheme.Finder" />

        <activity
            android:name="com.online.languages.study.lang.presentation.backup.FinderDialogActivity"
            android:theme="@style/AppTheme.FinderDialog" />


        <activity
            android:name="com.online.languages.study.lang.presentation.ImageDetailActivity"
            android:theme="@style/AppTheme.Dialog" />

        <activity android:name="com.online.languages.study.lang.presentation.core.BaseActivity" />

        <activity android:name="com.online.languages.study.lang.presentation.InfoListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.TextActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NoteActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.RecommendActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.TaskActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.practice.PracticeActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.constructor.ConstructorActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NoteEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.MyCatEditActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.UCatsListActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.UCatsArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />

        <activity android:name="com.online.languages.study.lang.presentation.notes.NotesArchiveActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme"
            />



    </application>

</manifest>